@use "@/styles/helpers.scss" as *;


.header {
  position: fixed;
  z-index: 2;
  top: 0;
  align-items: center;
  justify-content: space-between;

  display: flex;

  width: 100%;
  padding: $padding-xsm $margin-contained;

  transition: background-color 0.3s ease-in-out;

  background-color: transparent;

  color: var(--main-color);
}

.logoLink {
  height: $grid-10;
  color: $light;
}

.logoIcon {
  @include mobile {
    margin-left: rem(-15);
  }
  width: 100%;
  max-height: rem(60);
  color: currentColor;
}



.scrolledPastHero {
  z-index: $header-nav-z-index;
  background-color: $black-100; 
  @include tablet {
    a {
      color: white;
    }
  }
}

.mobileMenuOpen {
  background-color: $dark; 
}