@use "@/styles/helpers" as *;

.headline {
    @include desktop {
      gap: $padding-xlg;
    }
  
    @include tablet {
      gap: $padding-lg;
    }
  
    @include mobile {
      white-space: break-spaces;
  
      gap: $padding-sm;
    }
  
    @extend .animated-line-continuous;
  
    align-items: center;
  
    display: flex;
  
    white-space: nowrap;
  
    gap: rem(80);
    grid-column: span 4;

    padding: $padding-xlg var(--margin-contained) 0 var(--margin-contained);
    font-weight: $bold-font-weight;

  
    &::after {
      width: 100%;
    }
  }
