@use "@/styles/helpers" as *;

.burgerButton {
  @include mobile-header {
    align-items: center;
    justify-content: center;
    display: flex;
  }

  position: relative;

  display: none;

  overflow-x: unset;

  border: 0;
  width: 24px;
  height: 18px;

  background: none;
  cursor: pointer;
}

.line {
  position: absolute;

  margin: 0;
  width: 100%;
  height: 2px;
  padding: 0;

  transition: 0.4s;

  // background-color: var(--main-color);
  background-color: white;


  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  &:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 66%;
  }
}

.open {
  .line {
    &:nth-child(1) {
      transform: translate(0, 5.5px) rotate(45deg);
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      left: unset;
      transform: translate(0, -11px) rotate(-45deg);
      width: 100%;
    }
  }
}
