@use "@/styles/helpers.scss" as *;

// service.module.scss

.serviceContainer {
    width: 100%;
    padding: $padding-lg $margin-contained;
    margin: 0 auto;
}


.mainImage {
    margin-top: rem(3); // Equivalent to 'mt-12'
    max-width: 100%;
    height: auto;
}

.fieldText  {
    @extend %h1-hero;

    color: $light;
    font-weight: $bold-font-weight;
  }

.description {
    margin-top: 3rem; // Similar margin for richtext
    font-size: 1rem; // Default font size for the description
    line-height: 1.5rem;
}

.hero {
    min-height: rem(200);
    background-color: $black-100;
    padding: calc($padding-xlg + $grid-10 + rem(72)) $margin-contained $padding-md;

    
    .button {
        color: $dark;
    
        svg {
        color: $dark;
        }
    }
}
