@use "@/styles/helpers.scss" as *;

.servicesContainer {
    display: grid;
    gap: 2rem; 
    width: 100%;
    padding: $padding-lg $margin-contained;

    margin-left: auto;
    margin-right: auto;
    max-width: 100%; // Tailwind's container uses max-width based on breakpoints
  
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  