@use "@/styles/helpers" as *;

.gridSection {
  @include mobile {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }
    padding: var(--padding-md) var(--margin-contained) calc(var(--padding-xlg) - var(--padding-sm)) var(--margin-contained);
  }
  
  .container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
  
  .headline {
    @extend %h3;
  }
  
  .gridContainer {
    display: grid;
    gap: 2rem;
  
    &.twoColumns {
      @include desktop {
        grid-template-columns: repeat(2, 1fr);
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  
    &.threeColumns {
      @include desktop {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mobile {
        grid-template-columns: 1fr;
      }
    }
  }

  .buttonGrid {
    color: black!important;
    text-decoration: underline;
    @include mobile {
      max-width: 70%;
    }
    svg {
      color: $code-pink-100;
    }
  }
  