@use "@/styles/helpers" as *;

// grid.module.scss

.gridSection {
  @include mobile {
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;
  }
    padding: var(--padding-md) var(--margin-contained) calc(var(--padding-xlg) - var(--padding-sm)) var(--margin-contained);
  }
  
  .container {
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
  
  .headline {
    font-size: 1.875rem; // Equivalent to 'text-3xl'
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: 2.25rem; // Equivalent to 'md:text-4xl'
    }
  }
  
  .gridContainer {
    @include mobile {
      grid-template-columns: 1fr;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
  }

  .buttonGrid {
    color: black!important;
    text-decoration: underline;
    @include mobile {
      max-width: 70%;
    }
    svg {
      color: $code-pink-100;
    }
  }
  