@use "@/styles/helpers" as *;

.hero, .hero-no-video {
  @include desktop {
    min-height: rem(700);
  }

  @include tablet {
    min-height: rem(600);
  }

  @include mobile {
    min-height: min(rem(500), 100vh);
  }

  position: relative;
  z-index: 1;
  flex-direction: column;
  align-items: flex-start;

  display: flex;

  overflow: hidden;

  width: 100%;
  min-height: rem(800);
  padding: calc($padding-lg + $grid-10 + rem(72)) $margin-contained $padding-md;

  .backgroundImage {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .videoBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .defaultBackground {
    background-color: $black-100;
  }

  .button {
    @include mobile {
      max-width: 70%;
    }
  
    @extend %button-label;

    margin-top: auto;
    font-size: rem(20);
  }
}

.headline h2 {
  @extend %button-label;
  @extend %h1-hero;

  color: $white-100;
}

.hero-no-video {
  height: auto;

  .headline {
    border-bottom: rem(4) solid black;
    background-color: $light;
    color: $dark;
  }

  .button {
    color: $dark;

    svg {
      color: $dark;
    }
  }
}
